<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd">
    <!-- 定义rabbitmq配置的相关属性文件信息 -->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>
    <!-- 如果要想进行RabbiMQ的操作管理，则首先一定要准备出一个连接工厂类 -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${mq.rabbit.host}" port="${mq.rabbit.port}" username="${mq.rabbit.username}"
                               password="${mq.rabbit.password}" virtual-host="${mq.rabbit.vhost}"/>
    <!-- 所有的连接工厂要求被RabbitMQ所管理 -->
    <rabbit:admin connection-factory="connectionFactory"/>
    <!-- 创建一个队列信息 -->
    <rabbit:queue id="myQueue" auto-delete="true" name="lee.queue.title"/>
    <!-- 下面实现一个直连的操作模式 -->
    <rabbit:direct-exchange id="mq-direct" name="${mq.rabbit.exchange}" auto-delete="true">
        <rabbit:bindings>
            <!-- 现在要求绑定到指定的队列之中 -->
            <rabbit:binding queue="myQueue" key="lee-key"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>
    <!-- 定义具体的消费处理类 -->
    <bean id="messageConsumer" class="com.lee.myrabbit.consumer.MessageConsumer"/>
    <!-- 启动消费监听程序 -->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="messageConsumer" queues="myQueue"/>
    </rabbit:listener-container>

    <!-- email customer start -->
    <bean id="mailMessageListener" class="com.lee.myrabbit.async.MailMessageListener"/>
    <bean id="jsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>
    <!--配置 RabbitTemplate -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
                     exchange="mailExchange" routing-key="mail.test" message-converter="jsonMessageConverter"/>

    <!--配置队列名-->
    <rabbit:queue name="mailQueue"/>

    <!--配置 Exchange -->
    <rabbit:topic-exchange name="mailExchange">
        <rabbit:bindings>
            <rabbit:binding queue="mailQueue" pattern="mail.*"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--配置监听-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener ref="mailMessageListener" queue-names="mailQueue"/>
    </rabbit:listener-container>
    <!-- email customer end -->
</beans>
